extends ../_skeleton

block page

      #books.books
        // Modal Add Book
        .modal-custom.add-modal
          .modal-custom-inner
            h3 Add New Book
            .form-wrap
              label.form-label-outside( for='add-book-name' ) Enter Book Name
              input.form-input#add-book-name( type='text' @focus='focus(newBook.name, "#add-book-name")' @input='validate(newBook.name, "#add-book-name")' @blur='blur(newBook.name, "#add-book-name")' v-model='newBook.name' )
            .form-wrap
              label.form-label-outside( for='add-book-description' ) Enter Book Description
              input.form-input#add-book-description( type='text' @focus='focus(newBook.description, "#add-book-description")' @input='validate(newBook.description, "#add-book-description")' @blur='blur(newBook.description, "#add-book-description")' v-model='newBook.description' )
            .form-wrap
              .checkbox-group( v-for='author in authorsAll' )
                input( type='checkbox' :id='`checkbox-${author.id}`' :value='`${author.firstName} ${author.lastName}`' v-model='newBook.authors' )
                label( :for='`checkbox-${author.id}`' ) {{ `${author.firstName} ${author.lastName}` }}
            .form-wrap
              label.form-label-outside( for='add-book-genres' ) Enter Book Genres using commas. Example: history, fantastic
              input.form-input#add-book-genres( type='text' @focus='focus(newBook.genres, "#add-book-genres")' @input='validate(newBook.genres, "#add-book-genres")' @blur='blur(newBook.genres, "#add-book-genres")' v-model='newBook.genres' )
            .form-wrap
              .group
                button.button.button-primary.button-ujarak( @click.prevent @click="addBook()" ) Add New Books
                button.button.button-default.button-ujarak( @click.prevent onclick='closeModal(".add-modal")' ) Close

        // Modal Edit Book
        .modal-custom.edit-modal
          .modal-custom-inner
            h3 Edit Book
            .form-wrap
              label.form-label-outside( for='edit-book-name' ) Enter Book Name
              input.form-input#edit-book-name( type='text' v-model='editBook.name')
            .form-wrap
              label.form-label-outside( for='edit-book-description' ) Enter Book Description
              input.form-input#edit-book-description( type='text' v-model='editBook.description')
            .form-wrap
              .checkbox-group( v-for='author in authorsAll' )
                input( type='checkbox' :id='`checkbox-edit-${author.id}`' :value='`${author.firstName} ${author.lastName}`' v-model='editBook.authors' )
                label( :for='`checkbox-edit-${author.id}`' ) {{ `${author.firstName} ${author.lastName}` }}
            .form-wrap
              label.form-label-outside( for='edit-book-genres' ) Enter Book Genres using commas. Example: history, fantastic
              input.form-input#edit-book-genres( type='text' v-model='editBook.genres' )
            .form-wrap
              .group
                button.button.button-primary.button-ujarak( @click="saveItem()") Save
                button.button.button-default.button-ujarak( onclick='closeModal(".edit-modal")' ) Close

        // Modal Edit Author
        .modal-custom.edit-author-modal
          .modal-custom-inner
            h3 Edit Author
            .form-wrap
              label.form-label-outside( for='edit-author-name' ) Edit First Name
              input.form-input#edit-author-name( type='text' v-model='copyAuthor.firstName' )
            .form-wrap
              label.form-label-outside( for='edit-author-last-name' ) Edit Last Name
              input.form-input#edit-author-last-name( type='text' v-model='copyAuthor.lastName' )
            .form-wrap
              .group
                button.button.button-primary.button-ujarak( @click="saveAuthor()") Save
                button.button.button-default.button-ujarak( onclick='closeModal(".edit-author-modal")' ) Close

        // Modal Add New Author
        .modal-custom.add-author-modal
          .modal-custom-inner
            h3 Add New Author
            .form-wrap
              label.form-label-outside( for='add-author-name' ) Add new Author First Name
              input.form-input#add-author-name( @focus='focus(newAuthor.firstName, "#add-author-name")' @input='validate(newAuthor.firstName, "#add-author-name")' @blur='blur(newAuthor.firstName, "#add-author-name")' type='text' v-model='newAuthor.firstName' )
            .form-wrap
              label.form-label-outside( for='add-author-last-name' ) Add new Author Last Name
              input.form-input#add-author-last-name( @focus='focus(newAuthor.lastName, "#add-author-last-name")' @input='validate(newAuthor.lastName, "#add-author-last-name")' @blur='blur(newAuthor.lastName, "#add-author-last-name")'  type='text' v-model='newAuthor.lastName' )
            .form-wrap
              .group
                button.button.button-primary.button-ujarak( @click="addAuthor(newAuthor.firstName, newAuthor.lastName)") Save
                button.button.button-default.button-ujarak( @click.prevent onclick='closeModal(".add-author-modal")' ) Close

        // Book List
        section.section.section-lg.bg-default.text-center
          .container
            h2 Book List
            .row.text-left.row-30
              .col-12
                .unit.align-items-center
                  .unit-left: h3.text-left Add New Author
                  .unit-body: a.icon.icon-xl.icon-circle.icon-primary.fa-plus(href='#' @click.prevent onclick='openModal(".add-author-modal")')
              .col-12
                h3 All Authors
                .book-authors
                  ul.book-author-list-inline
                    li( v-for=' author in authorsAll ' )
                      span.book-author-first-name {{ author.firstName }}
                      span.book-author-last-name {{ author.lastName }}
                      a.book-author-control.book-author-edit.fa-edit( href='#' @click.prevent @click='editAuthor(author)' onclick='openModal(".edit-author-modal")' )
                      a.book-author-control.book-author-delete.fa-trash-o( href='#' @click.prevent @click='deleteAuthor(author)' )

            hr

            .unit.align-items-center
              .unit-left: h3.text-left Add New Book
              .unit-body: a.icon.icon-xl.icon-circle.icon-primary.fa-plus(href='#' @click.prevent onclick='openModal(".add-modal")')
            .row.row-30
              .col-md-6.col-lg-4( v-for='book in books' )
                .book
                  .book-control
                    ul.book-control-list
                      li.book-control-item
                        a.book-control-link( href='#' @click.prevent @click='editTheBook(book)' onclick='openModal(".edit-modal")' )
                          span.icon.fa-edit
                      li.book-control-item
                        a.book-control-link.book-control-link-danger( href='#' @click.prevent @click="deleteBook(book)" )
                          span.icon.fa-trash
                  .book-name: h4 {{book.name}}
                  .book-description: p(contenteditable='true') {{book.description}}
                  .book-authors
                    h5.book-authors-title Authors:
                    ul.book-author-list: li( v-for='author in book.authors' )
                      span.book-author-first-name {{author.firstName}}
                      span.book-author-last-name {{author.lastName}}
                  hr.book-divider
                  .book-genres: ul.book-genres-list: li.book-genre( v-for='genre in book.genres' ): a.book-genre-link(:href=  `'#' + genre`) # {{genre}}