extends ../_skeleton

block page

      #books.books
        // Modal Add Book
        .modal-custom.add-modal
          .modal-custom-inner
            h3 Add New Book
            .form-wrap
              label.form-label-outside( for='add-book-name' ) Enter Book Name
              input.form-input#add-book-name( type='text' @focus='focus(newBook.name, "#add-book-name")' @input='validate(newBook.name, "#add-book-name")' @blur='blur(newBook.name, "#add-book-name")' v-model='newBook.name' )
            .form-wrap
              label.form-label-outside( for='add-book-description' ) Enter Book Description
              input.form-input#add-book-description( type='text' @focus='focus(newBook.description, "#add-book-description")' @input='validate(newBook.description, "#add-book-description")' @blur='blur(newBook.description, "#add-book-description")' v-model='newBook.description' )
            .form-wrap
              label.form-label-outside( for='checkbox-group' ) Check Author or Authors
              .checkbox-group#checkbox-group( v-for='author in authorsAll' )
                input( type='checkbox' :id='`checkbox-${author.id}`' :value='`${author.firstName} ${author.lastName}`' v-model='newBook.authors' )
                label( :for='`checkbox-${author.id}`' ) {{ `${author.firstName} ${author.lastName}` }}
            .form-wrap
              label.form-label-outside( for='checkbox-group-1' ) Check Genre or Genres
              .checkbox-group#checkbox-group-1( v-for='genre in genresAll' )
                input( type='checkbox' :id='`checkbox-genre-${genre.id}`' :value='`${genre.name}`' v-model='newBook.genres' )
                label( :for='`checkbox-genre-${genre.id}`' ) {{ `${genre.name}` }}
            .form-wrap
              .group
                button.button.button-primary.button-ujarak( @click.prevent @click="addBook()" ) Add New Books
                button.button.button-default.button-ujarak( @click.prevent onclick='closeModal(".add-modal")' ) Close

        // Modal Edit Book
        .modal-custom.edit-modal
          .modal-custom-inner
            h3 Edit Book
            .form-wrap
              label.form-label-outside( for='edit-book-name' ) Enter Book Name
              input.form-input#edit-book-name( type='text' v-model='editBook.name')
            .form-wrap
              label.form-label-outside( for='edit-book-description' ) Enter Book Description
              input.form-input#edit-book-description( type='text' v-model='editBook.description')
            .form-wrap
              label.form-label-outside( for='checkbox-group-2' ) Check Author or Authors
              .checkbox-group#checkbox-group-2( v-for='author in authorsAll' )
                input( type='checkbox' :id='`checkbox-edit-${author.id}`' :value='`${author.firstName} ${author.lastName}`' v-model='editBook.authors' )
                label( :for='`checkbox-edit-${author.id}`' ) {{ `${author.firstName} ${author.lastName}` }}
            .form-wrap
              label.form-label-outside( for='checkbox-group-3' ) Check Genre or Genres
              .checkbox-group#checkbox-group-3( v-for='genre in genresAll' )
                input( type='checkbox' :id='`checkbox-genre-edit-${genre.id}`' :value='`${genre.name}`' v-model='editBook.genres' )
                label( :for='`checkbox-genre-edit-${genre.id}`' ) {{ `${genre.name}` }}
            .form-wrap
              .group
                button.button.button-primary.button-ujarak( @click="saveBook()") Save
                button.button.button-default.button-ujarak( onclick='closeModal(".edit-modal")' ) Close

        // Modal Edit Author
        .modal-custom.edit-author-modal
          .modal-custom-inner
            h3 Edit Author
            .form-wrap
              label.form-label-outside( for='edit-author-name' ) Edit First Name
              input.form-input#edit-author-name( type='text' v-model='copyAuthor.firstName' )
            .form-wrap
              label.form-label-outside( for='edit-author-last-name' ) Edit Last Name
              input.form-input#edit-author-last-name( type='text' v-model='copyAuthor.lastName' )
            .form-wrap
              .group
                button.button.button-primary.button-ujarak( @click="saveAuthor()") Save
                button.button.button-default.button-ujarak( onclick='closeModal(".edit-author-modal")' ) Close

        // Modal Add New Author
        .modal-custom.add-author-modal
          .modal-custom-inner
            h3 Add New Author
            .form-wrap
              label.form-label-outside( for='add-author-name' ) Add new Author First Name
              input.form-input#add-author-name( @focus='focus(newAuthor.firstName, "#add-author-name")' @input='validate(newAuthor.firstName, "#add-author-name")' @blur='blur(newAuthor.firstName, "#add-author-name")' type='text' v-model='newAuthor.firstName' )
            .form-wrap
              label.form-label-outside( for='add-author-last-name' ) Add new Author Last Name
              input.form-input#add-author-last-name( @focus='focus(newAuthor.lastName, "#add-author-last-name")' @input='validate(newAuthor.lastName, "#add-author-last-name")' @blur='blur(newAuthor.lastName, "#add-author-last-name")'  type='text' v-model='newAuthor.lastName' )
            .form-wrap
              .group
                button.button.button-primary.button-ujarak( @click="addAuthor(newAuthor.firstName, newAuthor.lastName)") Save
                button.button.button-default.button-ujarak( @click.prevent onclick='closeModal(".add-author-modal")' ) Close

        // Modal Edit Genre
        .modal-custom.edit-genre-modal
          .modal-custom-inner
            h3 Edit Genre
            .form-wrap
              label.form-label-outside( for='edit-genre-name' ) Edit Genre
              input.form-input#edit-genre-name( type='text' v-model='copyGenre.name' )
            .form-wrap
              .group
                button.button.button-primary.button-ujarak( @click="saveGenre()") Save
                button.button.button-default.button-ujarak( onclick='closeModal(".edit-genre-modal")' ) Close

        // Modal Add New Genre
        .modal-custom.add-genre-modal
          .modal-custom-inner
            h3 Add New Genre
            .form-wrap
              label.form-label-outside( for='add-genre-name' ) Add new Genre
              input.form-input#add-genre-name( @focus='focus(newGenre.name, "#add-genre-name")' @input='validate(newGenre.name, "#add-genre-name")' @blur='blur(newGenre.name, "#add-genre-name")' type='text' v-model='newGenre.name' )
            .form-wrap
              .group
                button.button.button-primary.button-ujarak( @click="addGenre(newGenre.name)") Save
                button.button.button-default.button-ujarak( @click.prevent onclick='closeModal(".add-genre-modal")' ) Close

        // Book List
        section.section.section-lg.bg-default.text-center
          .container
            h2 Book List
            .row.text-left
              .col-12
                h4 Authors and their books
                .divider
                ul.list.list-lg
                  li( v-for='author in authorsAll')
                   h5 Author: {{ `${author.firstName} ${author.lastName}` }}
                   ol.book-name-list
                     li Books names:
                     li( v-for='book in books' )
                        span.book-name-small( v-for='(authorBook, index) in author.books' v-if='author.books[index] === book.id' ) {{ book.name }}

            hr

            .row.row-50.text-left
              .col-lg-6
                .unit.align-items-center
                  .unit-left: h3.text-left All Authors
                  .unit-body: a.icon.icon-xl.icon-circle.icon-primary.fa-plus(href='#' @click.prevent onclick='openModal(".add-author-modal")')
                .book-authors
                  ul.book-author-list-inline
                    li( v-for=' author in authorsAll ' )
                      span.book-author-first-name {{ author.firstName }}
                      span.book-author-last-name {{ author.lastName }}
                      a.book-author-control.book-author-edit.fa-edit( href='#' @click.prevent @click='editAuthor(author)' onclick='openModal(".edit-author-modal")' )
                      a.book-author-control.book-author-delete.fa-trash-o( href='#' @click.prevent @click='deleteAuthor(author)' )

              .col-lg-6
                .unit.align-items-center
                  .unit-left: h3.text-left All Genres
                  .unit-body: a.icon.icon-xl.icon-circle.icon-primary.fa-plus(href='#' @click.prevent onclick='openModal(".add-genre-modal")')
                .book-genres
                  ul.book-genres-list: li.book-genre( v-for='genre in genresAll' )
                    a.book-genre-link(:href=  `'#' + genre.name`) # {{ genre.name }}
                    a.book-genre-control.book-genre-edit.fa-edit( href='#' @click.prevent @click='editGenre(genre)' onclick='openModal(".edit-genre-modal")' )
                    a.book-genre-control.book-genre-delete.fa-trash-o( href='#' @click.prevent @click='deleteGenre(genre)' )

            hr

            .unit.align-items-center
              .unit-left: h3.text-left All Books
              .unit-body: a.icon.icon-xl.icon-circle.icon-primary.fa-plus(href='#' @click.prevent onclick='openModal(".add-modal")')
            .row.row-30
              .col-md-6.col-lg-4( v-for='book in books' )
                .book
                  .book-control
                    ul.book-control-list
                      li.book-control-item
                        a.book-control-link( href='#' @click.prevent @click='editTheBook(book)' onclick='openModal(".edit-modal")' )
                          span.icon.fa-edit
                      li.book-control-item
                        a.book-control-link.book-control-link-danger( href='#' @click.prevent @click="deleteBook(book)" )
                          span.icon.fa-trash
                  .book-name: h4 {{book.name}}
                  .book-description: p(contenteditable='true') {{book.description}}
                  .book-authors
                    h5.book-authors-title Authors:
                    ul.book-author-list: li( v-for='author in book.authors' )
                      span.book-author-first-name {{author.firstName}}
                      span.book-author-last-name {{author.lastName}}
                  hr.book-divider
                  .book-genres: ul.book-genres-list: li.book-genre( v-for='genre in book.genres' ): a.book-genre-link(:href=  `'#' + genre.name`) # {{genre.name}}


            .row.text-left
              .col-12
                h4 Authors and their books
                .divider
                ul.list.list-lg
                  li( v-for='author in authorsAll')
                    h5 Author: {{ `${author.firstName} ${author.lastName}` }}
                    ol.book-name-list
                      li Books names:
                      li( v-for='book in books' )
                        span.book-name-small( v-for='(authorBook, index) in author.books' v-if='author.books[index] === book.id' ) {{ book.name }}

